body, html {
  overflow-x: hidden;
  height: 100%;
  overflow-y: scroll !important;
}
.menuText {
  color:#5d768d;
  font-weight: bold;
  margin-left: 16px;
  position:relative;
  top: 2px;
}
.ui.label {
  position:relative;
  top: 5px;
}
#LeftContainerCard .item img {width: 32px;}
#LeftContainerCard .menu {
  top: 65px;
  width: 100%;
  left: 15px;
  height: auto;  
}
#profilePicSmall {
  display: inline-block;
  width: 38px;
  height: 36px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/africogram/image/upload/v1620170805/images/profile_pic_default_u046d1.jpg');
}
#username {color: grey;}
@media only screen and (max-width: 1020px) {
    .item span {font-size: 12px;}
    #LeftContainerCard .item img {width: 24px;}
}
/* screen size lesser than 930 pixels */
@media only screen and (max-width: 930px) {
  #MiddleContainer,#LeftContainer,#RightContainer {
      width: 100%;
      margin: 0 auto;
  }
  #MiddleContainer { margin-top: 16px;}
  .item span {font-size: 1rem;}
  #LeftContainerCard .item img {width: 32px;}
}
.homeFooter a {
  text-decoration: none;
  color: #fff;
}
.homeFooter a:hover {
  text-decoration: underline;
}
.copyright {
  font-family: monospace;
  text-transform: uppercase;
}